

<app-add-todo (onAddTodo)="addTodoToList($event)"></app-add-todo>

<div class="container">
    <div class="row">
        <div class="col-md-5" cdkDropListGroup>
            <h2>Все задачи</h2>
            <div class="todo-wrap" cdkDropList #todoList="cdkDropList" [cdkDropListData]="todos" [cdkDropListConnectedTo]="[todosTodayList]"
            (cdkDropListDropped)="drop($event)">
                <app-todo (click)="onSelectTodo(todo)" [class.todoDone]="todo == statusDone" *ngFor="let todo of todos" [todoItem]="todo" [todoDeleteItem]="todo" cdkDrag></app-todo>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-2 " cdkDropListGroup>
            <h2>Задачи на сегодня</h2>
            <div class="todo-wrap" cdkDropList #todosTodayList="cdkDropList" [cdkDropListData]="todosToday" [cdkDropListConnectedTo]="[todoList]"
            (cdkDropListDropped)="drop($event)">
                <app-todo-today (click)="onSelectTodo(todo)" [class.todoDone]="todo == statusDone" *ngFor="let todoToday of todosToday" [todoTodayItem]="todoToday" cdkDrag> </app-todo-today>
            </div>
        </div>
    </div>
</div>



    
         








